body {
  /* Set margin to 0 pixels on all sides */
  /* Change font size to be 20 pixels */
  /* Change the line height to be 1.5 times larger than normal */
  /* Change the font family to use the Google font */
}

header {
  /* Align text to center */
}

main {
  /* Set maximum width to be 800 pixels */
  /* Set margins to be automatically calculated on all sides */
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right */
}

img {
  /* Set max width to be 100% of the containing element */
}

h1 {
  /* Set the border along bottom to be 5 pixel high black solid line */
}

h2 {
  /* Set font color to be red (try using a hex or rgb code!) */
}

footer {
  /* Set font color to white */
  /* Set background color to black */
  /* Set padding on all sides to be 20 pixels */
  /* Align text to center */
  /* Set top margin to be 60 pixels */
}

.highlight {
  /* Set background color to red */
  /* Set font color to white */
  /* Set padding on all sides to be 4 pixels */
}

.mobile-only {
  /* Set this to NOT display by default */
}

@media (max-width: 600px) {

  body {
    /* Set font size to be 80% of the normal size */
  }

  .mobile-only {
    /* Set display to block */
  }

}
