body {
  /* Set margin to 0 pixels on all sides */
  /* Set font size to be 20 pixels */
  /* Set line height to be 1.5 times larger than default */
  /* Set font family to be Helvetica or Arial */
}

header {
  /* Set text alignment to center */
}

main {
  /* Set maximum width to be 800 pixels */
  /* Set margin to be automatically calculated on all sides */
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right */
}

img {
  /* Set max width to be 100% of the containing element */
}

h1 {
  /* Set border along bottom to be a black solid line 5 pixels thick */
}

h2 {
  /* Set font color to be red (try using a hex or rgb code!) */
}

footer {
  /* Set font color to white */
  /* Set background color to black */
  /* Set padding on all sides to be 20 pixels */
  /* Set text alignment to center */
  /* Set margin on top to be 60 pixels */
}

@media (max-width: 600px) {

  body {
    /* Set font size to be 80% of the normal size */
  }

}
